.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

.header {
  font-size: clamp(2rem, 2.5vw, 4rem);
}

.logo {
  width: 3rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.nav-items {
  margin: 0 auto;
}

.nav-items>* {
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin: 0 0.5rem;
}

.nav__icon {
  font-size: 1.5em;
}

.searchbar {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 2rem auto;
  max-width: 40rem;
}

.search__icon {
  margin-left: 1rem;
}

.search__input {
  flex: 1;
  border-radius: 1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
}

.search-error {
  text-align: center;
}

.menu-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 17rem);
  gap: 1rem;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  padding: 1rem;
  gap: 0.5rem;
}

.add-btn {
  align-self: flex-end;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  border: none;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.menu-card-title {
  flex: 1;
}

.menu-card-title,
.contact-card-name {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.menu-card-price,
.contact-card-number,
.contact-card-email {
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.contact-card-description {
  text-align: center;
}

.contact-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.contact-card-img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1rem;
}

/* CHECKOUT PAGE AND CART */
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.cart-item__img {
  max-width: 7rem;
}

.clear-btn {
  padding: 0 0.5rem;
  background-color: #dc2626;
  color: #f8fafc;
  border-radius: 0.5rem;
  border: none;
}