*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

section {
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
}

.header {
  font-size: clamp(2rem, 2.5vw, 4rem);
  margin-bottom: 0.5rem;
}

.logo {
  width: 3rem;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tabs>* {
  border: none;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 1rem;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
}

.menu-card-description {
  padding-bottom: 1rem;
}

.menu-card-title,
.contact-card-name {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.menu-card-price,
.contact-card-number,
.contact-card-email {
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.menu-card-price,
.contact-card-description {
  text-align: center;
}

.contact-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.contact-card-img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1rem;
}